/*html {
	background-color: black;
}*/
body {
	min-height: 300px;
	background-image: url('images/galaxy.jpg');
	background-size: cover;
	background-attachment: fixed;
}

.headtitle {
	color: rgba(255, 255, 255, 0.8);
	font-style: oblique;
	padding-top: 50px;
}

.header_content ul.nav li{
	display: inline-block;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 90px;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 10px;
    border-style: ridge;
    border-color: rgba(0, 0, 0, 0.1);
    font-size: 20px;
}
.quote {
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 20px;
	padding: 20px;
	border-style: ridge;
	border-color: rgba(40, 40, 40, 0.3);
	margin-bottom: 50px;
	color: rgba(255, 255, 255, 0.8);
}

.trips_content {
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 20px;
	padding: 20px;
	border-style: ridge;
	border-color: rgba(40, 40, 40, 0.3);
	margin-bottom: 50px;
	color: rgba(205, 205, 205, 0.8);
}

.trips_content .row {
	text-align: center;
}

.big_box {
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 20px;
	padding: 30px;
	border-style: ridge;
	border-color: rgba(40, 40, 40, 0.3);
}

/*body {
	background-color: rgba(0, 0, 0, 0.9);
	padding-bottom: 200px;
}*/

/*.header_content {
	min-height: 300px;
	background-image: url('images/galaxy.jpg');
	background-size: cover;
	background-attachment: fixed;
	padding-bottom: 20px;
	}*/

.formtitle {
	color: rgba(255, 255, 255, 0.8);
	padding-top: 100px;
}

.img-circle {
	max-width: 150px;
}

.info {
	color: rgba(220, 30, 200, 0.65);
	margin-bottom: 30px;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0 5px 0 5px;
}

/*.page_content {
	background-color: rgba(70, 70, 100, 0.2);
	border-radius: 20px;
	padding: 30px;
	border-style: ridge;
	border-color: rgba(40, 40, 40, 0.1);
}*/

.page_content {
	color: rgba(255, 255, 255, 0.6);
}
}

.last_content {
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 20px;
	padding: 30px;
	border-style: ridge;
	border-color: rgba(40, 40, 40, 0.3);
	margin-top: 50px;
	margin-bottom: 30px;
	color: rgba(255, 255, 255, 0.6);
}

/*<ul id='social-buttons'>
                <li><a href='http://www.facebook.com'><img src='images/facebook.ico' class="img-responsive"></a></li>
                <li><a href='http://www.twitter.com'><img src='images/twitter.png' class="img-responsive"></a></li>
                <li><a href='http://www.instagram.com'><img src='images/instagram.png' class="img-responsive"></a></li>
            </ul>*/