html {
	background-color: black;
}

body {
	background-color: rgba(0, 0, 0, 0.9);
}

.header_content {
	min-height: 300px;
	background-image: url('images/galaxy.jpg');
	background-size: cover;
	background-attachment: fixed;
	color: rgba(255, 255, 255, 0.8);
	font-style: oblique;
	padding-top: 50px;
	padding-bottom: 20px;
	}

ul.nav li{
	display: inline-block;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 90px;
    margin-top: 40px;
    padding: 20px;
}

.img-circle {
	max-width: 150px;
}

.container {
	column-rule-style: none;
}

.blue_item {
	color: blue;
}

.product_item {
	color: orange;
}

